[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/john/Desktop/FNF Hotline 024]
row=1
col=0

[9695-9D52]
row=2
col=0

[5e53cf11-c89c-43e5-a55e-41882713d198]
row=0
col=11

[Trash]
row=5
col=11

[/home/john]
row=0
col=0

